.cardDesign {

    height: auto;
    width: auto;

    margin: .5em;
    padding: 1em 1em;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: rgb(49, 160, 175)
}

.cardRegister {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.profileUserCard {
    height: 40vh;
    width: auto;

    margin: 0;
    padding: 1em 6em;

    display: flex;
    justify-content: start;
    align-items: center;

    border: .1em solid black;

    background-color: grey;
}

.homeUserCard {
    height: 40vh;
    width: auto;

    margin: 0;
    padding: 1em 6em;

    display: flex;
    justify-content: start;
    align-items: center;

    border: .1em solid black;

    background-color: grey;

}

.profilePostsCard,
.homePostsCard {
    height: 75vh;
    width: auto;

    margin: 0;


    display: flex;
    justify-content: start;
    align-items: center;

    border: .1em solid black;

    background-color: rgb(56, 56, 56);
}

.profileChatsCard {
    height: 75vh;
    width: auto;

    margin: 0;


    display: flex;
    justify-content: start;
    align-items: center;

    border: .1em solid black;

    background-color: rgb(189, 189, 189);

}

.receiverCard {
    height: 1em;
    width: 6em;

    cursor: pointer;

    border-radius: 1em;

    &:hover {
        background-color: rgb(58, 195, 213)
    }

    &:active {
        transform: translateY(.2em);
    }
}

.postIcons {
    height: 1em;
    width: 97%;

    margin-top: .6em;

    display: flex;
    justify-content: start;
    align-items: center;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: .5em;

    &:hover {
        transform: scale(1.15);
    }

    &:active {
        transform: translateY(.1em);
    }
}