.cardDesign {

    height: auto;
    width: auto;

    min-height: 10em;
    min-width: 10em;

    padding: 1em 1em;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: rgb(49, 160, 175)
}