.loginDesign{
    height: 80vh;
    width: 100%;

    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    color: black;

    background-color: rgb(199, 197, 197);
}