.registerDesign {
    height: 80vh;
    width: 100vw;

    background-color: #485152;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.registerImg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.registerText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.uploadPhotoInput {
    height: 13.4em;
    width: 13.4em;

    border-radius: .5em;

    padding: 1em 1em;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.uploadPhotoInput img {
    height: 15.3em;
    width: 15.3em;

    border-radius: .5em;
}


.fileInput {
    display: none;
}