.registerDesign{
    height: 80vh;
    width: 100vw;

    background-color: #485152;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.registerImg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerText{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}