.profileDesign{
    height: 100%;
    min-height: 80vh;
    width: 100vw;

    background-color: #747b7c;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.followSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}