.profileDesign{
    height: auto;
    min-height: 80vh;
    width: 100vw;

    background-color: #8ba1a3;

    display: flex;
    justify-content: center;
    align-items: start;
}

.followSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}