.profileDesign{
    height: 80vh;
    width: 100vw;

    background-color: #747b7c;

    display: flex;
    justify-content: center;
    align-items: center;
}

.profileText{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}