.homeDesign{
    height: auto;
    min-height: 80vh;
    width: 100vw;

    background-color: #8ba1a3;

    display: flex;
    justify-content: center;
    align-items: start;
}

.CI-newPostImage img{
    margin-top: -.3em  
}
