.homeDesign{
    height: 80vh;
    width: 100vw;

    background-color: #394243;

    display: flex;
    justify-content: center;
    align-items: center;
}

.homeDesign-Out{
    height: auto;
    min-height: 80vh;
    width: 100vw;

    background-color: #394243;

    display: flex;
    justify-content: center;
    align-items: center;
}

.homeDesign-In{
    height: auto;
    width: 100vw;

    min-height: 80vh;

    background-color: #9fb4b6;

    display: flex;
    justify-content: center;
    align-items: start;
}

