.homeDesign {
    height: auto;
    min-height: 80vh;
    width: 100vw;

    background-color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: start;
}

.CI-newPostImage img {
    margin-top: -.3em
}

.newPostMedia {
    height: auto;
    width: 40%;
}

.newPostText {
    height: auto;
    width: 60%;

    display: flex;
    justify-content: start;
    flex-direction: column;
}
