.textDesign {
    min-height: 1.5em;
    margin: .1em;
}

.title {
    font-weight: 500;
    font-size: 1.1em;
}

.CT-errorText {
    color: rgba(129, 18, 18, 0.808);
}

.postTitle {
    font-size: 2em;
}

.postImg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.postImg img {
    height: 20em;
    border-radius: .5em;
}

.profileImg {
    height: 20em;
    width: 20em;
    position: relative;
    overflow: hidden;
}

.profileImg img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 70%;
    max-height: 100%;

    border: .1em solid rgb(136, 136, 136);

    border-radius: .5em;
    box-shadow: .7em .7em .2em .1em rgb(172, 172, 172);
}

.postText {
    width: 32em;

    font-size: 1.1em;
    margin: .2em;
}

.CI-newPosTitle {
    width: auto;
}

.CI-newPostarea {
    width: auto;
}

.utilitiesTitle {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: .5em;

    color: white;
}

.utilitiesUser {
    margin-left: .5em;
    margin-right: .5em;
}