.textDesign{
    min-height: 1.5em;
}

.CT-errorText{
    color: rgba(129, 18, 18, 0.808);
}

.postTitle{
    font-size: 2em;
    margin: .4em;
}

.postImg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.postImg img{
    height: 24em;
    width: auto;
    border-radius: .5em;
}

.profileImg img{
    height: 10em;
    width: 10em;
}

.postText{
    width: 32em;

    font-size: 1.1em;
    margin: .2em;
}