.welcomeDesign {
    height: auto;
    min-height: 80vh;
    width: 100vw;

    background-color: #fdfdfd;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.registerLink{

    height: 20em;
    width: 20em;

   background-color:aqua;
}

.welcomeDesign img{
    height: 10em;
    width: auto;
}