.headerDesign {
    height: 10vh;
    width: 100vw;

    background-color: #07687c;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.homeHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBarHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}