.headerDesign {
    height: 10vh;
    width: 100vw;

    background-color:  #ffffff;

    border-bottom: .1em solid grey;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.homeHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBarHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navBarSeparator{
    width: 50%;
}